export_file_vars() {
    local file="$1"

    # Check if the file exists
    if [[ ! -f "$file" ]]; then
        echo "Error: File '$file' not found."
        return 1
    fi

    # Read each line and export it
    while IFS= read -r line || [[ -n "$line" ]]; do
        # Ignore empty lines and comments
        [[ -z "$line" || "$line" =~ ^# ]] && continue

        # Extract key and value
        key=$(echo "$line" | cut -d= -f1)
        value=$(echo "$line" | cut -d= -f2-)

        # Export variable
        export "$key=$value"
    done < "$file"
}

#Python
alias py='python3'
alias py11='python3.11'
alias py13='python3.13'
alias avenv='source .venv/bin/activate'
alias pm='python manage.py'
alias pmr='python manage.py runserver'
alias pmmm='python manage.py makemigrations'
alias pmm='python manage.py migrate'

# Environments
alias aenv='export_file_vars ./.env'
alias penv='export_file_vars ./.env.prod'
alias denv='export_file_vars ./.env.dev'
alias paenv='source ./.env.prod'
alias daenv='source ./.env.dev'
alias aaenv='source ./.env'

# Make
alias m='make'
alias mc='make clean'
alias ma='make all'
alias mb='make build'

# Shell
alias la='ls -ah'
alias ll='ls -alh'
alias zh="cat ~/.zsh_history"
alias zhg="cat ~/.zsh_history | grep"
alias pwg="pwgen -s -y"
alias please="sudo"