alias py='python3'
alias py11='python3.11'
alias la='ls -ah'
alias ll='ls -alh'
alias aenv='source ./.env'
alias avenv='source .venv/bin/activate'
alias zh="cat ~/.zsh_history"
alias zhg="cat ~/.zsh_history | grep"
